<h1>Welcome <%=current_user.name%>!</h1>

<div>
		<span style=" font-size:18px; font-weight: bold; margin-right:15px; color:red"><center><%= flash[:notice]%></center></span><br/>
		<%= form_tag('/adminhome/search') do %>
		<div align="center">
			<label><span style=" font-size:18px; font-weight: bold; margin-right:15px;">Date</span></label>
			<%= text_field_tag "date", nil, class: "textbox" %>
			&nbsp&nbsp&nbsp&nbsp	
		    <label><span style=" font-size:18px; font-weight: bold; margin-right:15px;">Employee name</span></label>
			<%= text_field_tag "name", nil, class: "textbox" %>
		</div>
		<br/><br/>
		<div align="center">
		<%= submit_tag "Search" , class: "alizarin-flat-button"%>
		<% end %>
		</div>
		 
<style> 
.textbox { 
    background: #FFF url(http://html-generator.weebly.com/files/theme/input-text-9.png) no-repeat 4px 4px; 
    border: 1px solid #999; 
    outline:0; 
    padding-left: 25px;
    height:25px; 
    width: 275px; 
  } 
</style> 

</div>

<div>
		<span style=" font-size:18px; font-weight: bold; margin-right:15px;"><center>Timesheet Report from <%= @start_period.strftime("%m/%d/%y")%> to <%= @end_period.strftime("%m/%d/%y")%></center></span>
</div>

<table id="table-fields" align="center">

	<tr>
		<th>Employee</th>
		<th>Time (in Hours)</th>
		<th>Type</th>
	</tr>
	<% count = 0%>

	<% @timesheet.each do |t|%>
	<% trClass = ""
    if count%2 == 1
      trClass = "alt"
    end
    count = count + 1
%>
	<tr class="<%= trClass%>">
		<%if t.user.last_name%>
			<td> <%= t.user.name + " " + t.user.last_name%> </td>
		<%else%>
			<td> <%=t.user.name%></td>
	    <% end %>
		<td><%= t.getMinutesInHours %></td>
		<% if 0 == t.request_type%>
		<td>Regular</td>
		<%elsif 1 == t.request_type%>
		<td>Sick Leave </td>
		<%elsif 2 == t.request_type%>
		<td>Holiday Leave </td>
		<%else %>
		<td>Other</td>
		<%end%>
	</tr>
	<% end %>
</table>

