<% if @user.errors.any? %>
<div id="error_explanation" class="error">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this request from being saved:</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>

		<li>
			<%= msg %>
		</li>

		<% end %>
	</ul>
</div>
<% end %>

<table align="center">
	<tr>
		<div class="field" >
			<td><%= f.label :name, "Last Name" %></td>
			<td><%= f.text_field :last_name, autofocus: true %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label :name, "First Name" %></td>
			<td><%= f.text_field :name, autofocus: true %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label :address %></td>
			<td><%= f.text_field :address, autofocus: true %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label :phone %></td>
			<td><%= f.text_field :phone, autofocus: true %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label :email %></td>
			<td><%= f.email_field :email, autofocus: true %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label :password %>
			<% if @validatable %> <em>(<%= @minimum_password_length %> characters minimum)</em> <% end %> </td>
			<td><%= f.password_field :password, autocomplete: "off" %></td>
		</div>
	</tr>
	<% if buttonText == 'Save'%>
	<tr>
		<td>(Leave blank if you don't want
		<br/>
		to update the password.)</td>
		<td></td>
		</div>
	</tr>
	<% end%>

	<tr>
		<div class="field" >
			<td><%= f.label(:password_confirmation, "Password Confirmation ") %></td>
			<td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label(:is_admin, "Is Employee Admin?") %></td>
			<td><%= f.check_box :is_admin %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label(:allowOutsideLogin, "Allow Outside Login") %></td>
			<td><%= f.check_box :allowOutsideLogin %></td>
		</div>
	</tr>
	<tr>
		<div class="field" >
			<td><%= f.label(:exempt, "Exempt Employee") %></td>
			<td><%= f.check_box :exempt %></td>
		</div>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<td></td><td></td>
	</tr>
	<tr>
		<div class="actions" align="center">
			<td align="right"><%= f.submit buttonText %></td>
			<td><%= f.submit 'Cancel'%></td>
	</tr>
	</div>
</table>