<h1>Listing Employees</h1>

<%= link_to "Create New Employee", action: "new" %>
<br><br>
<table id="table-fields" align="center">
	<tr>
		<th>Name</th>
		<th>Email</th>		
		<th>Phone</th>
		<th>Employee Type</th>
		<th>Address</th>
		<th></th>
	</tr>
	<%
	count = 0
%>
	<% @users.each do |user| %>
	<% trClass = ""
	if count%2 == 1
	trClass = "alt"
	end
	count = count + 1
	%>
	<tr class="<%= trClass%>">
		<td><%= link_to user.name, edit_manageuser_path(user) %></td>
		<td><%= user.email %></td>
		<td><%= user.email %></td>
		<td><% if user.is_admin %>
		Admin
		<%
		else %>Normal<%

		end  %></td>
		<td><%= user.address %></td>
		<td><%= link_to "Delete", manageuser_path(user), method: :delete, data: { confirm: 'Are you sure?' }%></td>
	</tr>
	<% end %>
</table>