<%= form_for :user, url:manageusers_path do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
 
  <div>
	<%= f.check_box :is_admin %>
	<%= f.label :is_admin %>
  </div>
 
  <div>
    <%= f.submit "Create User" %>
	
    <%= button_tag "Cancel", :type => 'button'%>
  </div>
<% end %>