<h1>Listing Requests</h1>

<table id="table-fields" align="center">
	<tr>
		<th>Employee Name </th>
		<th>Start</th>
		<th>End </th>
		<th>Type</th>
		<th>Date</th>
		<th>Status</th>
	</tr>

	<%
 count = 0
%>
	<% @requests.each do |request| %>
	<% trClass = ""
    if count%2 == 1
      trClass = "alt"
    end
    count = count + 1
%>
	<tr class="<%= trClass%>">
		<td><%= request.user.name %></td>
		<td><%= request.start %></td>
		<td><%= request.end %></td>
		<td><%= Request::TYPE_DROP.index(request.request_type) %></td>
		<td><%= request.date %></td>
		<%=form_for request do |f| %>
		<td><%= select("request", "status" , Request::STATUS_DROP, :selected=>f.object.status) %></td>
		<td><%= f.submit %></td>
		<%end%>

		<!--<td><%=button_to "submit", {:action=>'update',:controller=>'requests',:id=>request} ,:method=>:put %></td>-->

	</tr>

	<% end %>

</table>

