
<h1>Listing Requests</h1>
<div>
	<%= link_to 'Create new request', new_request_path %>
	<br />
	<br />
</div>

<table id="table-fields">
	<tr>
		<th>Employee Name</th>
		<th>Start</th>
		<th>End </th>
		<th>Time (in Hours)</th>
		
		<th>Date</th>
		<th>Type</th>
		<th>Status</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<%
 count = 0
%>
	<% @requests.each do |request| %>
	<% trClass = ""
    if count%2 == 1
      trClass = "alt"
    end
    count = count + 1
%>

	<tr class="<%= trClass%>">
		<td><%= request.user.name %></td>
		<td><%= request.start.strftime("%A %d %b %Y") %></td>
		<td><%= request.end.strftime("%A %d %b %Y") %></td>
		<td><%= Timesheet.getMinutesInHours(request.minutes) %></td>
		<td><%= request.date %></td>
		<td><%= Request::TYPE_DROP.index(request.request_type) %></td>
		<td><%= Request::STATUS_DROP.index(request.status)%></td>
		<!--<td><%= request.status %></td>-->
		<td><%= link_to 'Show', request %></td>
		
		<td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td><% if request.status==0 %>
			<%= link_to 'Edit', edit_request_path(request) %>
		<%end%></td>
	</tr>
	<% end %>
</table>

<br />

