<% content_for :javascript_includes do %>
  <%= javascript_include_tag "usrhome.js" %>
<% end %>

<h1>Welcome <%=current_user.name%>!</h1>
<h2 class="day center">Current time:</h2>
<div class="clockContainer center">	
	<h2 class="clock-box center"><span id="current_time" class="clock"> <%=Time.now.strftime("%k:%M:%S")%></span></h2>
	<h3 class="day center"><%=Time.now.strftime("%A %d %b")%></h3>	
</div>


<%= link_to 'Requests', requests_path %>
<%= link_to 'Timesheets', {:controller=>'timesheet', :action=>'show'} %>

<% clockin_status = !current_user.timesheets.last || current_user.timesheets.last.clockout? || current_user.timesheets.last.date < Date.today %>
<% clockout_status = current_user.timesheets.last && !current_user.timesheets.last.clockout? && current_user.timesheets.last.date == Date.today %>

<%= form_for :timesheet, url: timesheets_path do |f|%>
<p>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :request_type, { "regular" => 0, "sick leave" => 1, "holiday leave" => 2, "other" => 3}%>
	<%= f.submit "Clock-In",:disabled => !clockin_status%>
	<%= f.submit "Clock-Out",:disabled => !clockout_status%>
	
</p>
<% end %>

<% month = Date.today.month%>
<%year = Date.today.year%>

<table id="table-fields" align="center">
  <tr>
	<th>Date</th>
	<th>Clock In</th>
	<th>Clock Out</th>
	<th>Time</th>
	<th>Type</th>
</tr>
<%count = 0%>
<% @timesheets.each do |t|%>
<% trClass = ""
    if count%2 == 1
      trClass = "alt"
    end
    count = count + 1
%>
 <tr class="<%= trClass%>">
	<td><%= t.date.strftime("%A %d %b %Y") %></td>
	<td><%= t.clockin.strftime("%H:%M") %></td>
	<%if t.clockout == nil%>
	  <td><%= t.clockout%> </td>
	<%else%>
	  <td><%= t.clockout.strftime("%H:%M") %></td>
	<%end%>
	<td><%= t.minutes %></td>
	<% if 0 == t.request_type%>
	  <td>Regular</td>
	<%elsif 1 == t.request_type%>
	  <td>Sick Leave </td>
	<%elsif 2 == t.request_type%>
	  <td>Holiday Leave </td>
	<%else %>
	  <td>Other</td>
	<%end%>		
	</tr>
<% end %>
</table>
