<h1>Welcome user!</h1>

Current Time: <%=Time.now.strftime("%A %d %b %k:%M")%>

<%= link_to 'Requests', requests_path %>


<%= form_for :timesheet, url: timesheets_path do |f|%>
<p>
	<%= f.submit "Clock-In"%>
	<%= f.submit "Clock-Out"%>
	
</p>
<% end %>


