<% content_for :header do%>
<div class="logout">
	<b>Hi, <%= current_user.name %>!</b> (<%= link_to('Log out', destroy_user_session_path, :method => :delete) %>)
</div>
<%end%>

<% content_for :content do %>
<div id="talltabs-apple">
	<ul>
		<% if current_user.is_admin?%>
		<li>
			<b><%= link_to "Home", {:controller=>'adminhome', :action=>'index'} %></b>
		</li>
		<li>
			<b><%= link_to "Manage Employees", {:controller=>'manageusers', :action=>'index'} %></b>
		</li>
		<% else %>
		<li>
			<b><%= link_to "Home", {:controller=>'userhome', :action=>'index'} %></b>
		</li>
		<li>
			<b> <%= link_to 'Timesheets', {:controller=>'timesheet', :action=>'show'} %></b>
		</li>
		<%end%>
		<li>
			<b><%= link_to "Manage Requests", {:controller=>'requests', :action=>'index'} %></b>
		</li>
	</ul>
</div>
<%= yield %>
<% end %>

<%= render :file => 'layouts/application' %>